/* Proprietà generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: darkslateblue;
    color: /*darkviolet;*/ white;
    font-family: 'New Tegomin', serif;
}

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}

/* Proprieta header */
.lista-nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    font-size: 30px;
    background-color: indigo;
}
.lista-nav li{
    position: relative;
}
.lista-nav a{
    color: white;
    text-shadow: 1px 1px 0 fuchsia, -1px -1px 0 fuchsia, -1px 1px 0 fuchsia, 1px -1px 0 fuchsia;
}

/* Dropdowns */
.dropdown{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    min-height: 100px;
    min-width: 100px;
    background-color: white;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s;
}
.dropdown.active{
    visibility: visible;
    opacity: 1;
}
